use nix
export LD_LIBRARY_PATH="$(echo "$NIX_LDFLAGS"|sed 's|-rpath [^ ]* ||g; s| -L|\n|g'|sed '/^$/d'|paste -sd ':' -)"
export INCLUDE_PATH="$(gcc -xc -E -v - < /dev/null 2>&1|awk '/include <...> search starts here:/{a=1; next} /End of search list./{a=0} a'|ruby -e 'puts STDIN.readlines.map{|x| x.chomp.strip}.join(":")')"
